# Copyright IBM Corp. 2020, 2023
# SPDX-License-Identifier: MPL-2.0

adminPassword: password

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://prometheus-server
      access: proxy
      isDefault: true